<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		
		<title>League Predictor</title>

		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	</head>
	<body>
		<div id="app">
			<template v-if="isInGame && championsAreLoaded">
				<h1>{{ summonerName }}</h1>
			</template>

			<div v-if="championsAreLoaded">
				<div>
					<champion-card :player="composition.blue.top" :champions="allChampions"></champion-card>
					<champion-card :player="composition.blue.jgl" :champions="allChampions"></champion-card>
					<champion-card :player="composition.blue.mid" :champions="allChampions"></champion-card>
					<champion-card :player="composition.blue.bot" :champions="allChampions"></champion-card>
					<champion-card :player="composition.blue.sup" :champions="allChampions"></champion-card>
				</div>
				<div>
					<champion-card :player="composition.red.top" :champions="allChampions"></champion-card>
					<champion-card :player="composition.red.jgl" :champions="allChampions"></champion-card>
					<champion-card :player="composition.red.mid" :champions="allChampions"></champion-card>
					<champion-card :player="composition.red.bot" :champions="allChampions"></champion-card>
					<champion-card :player="composition.red.sup" :champions="allChampions"></champion-card>
				</div>
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="main.js"></script>
	</body>
</html>